{% extends 'base.html' %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            Название: {{ task.summary }}
        </div>
        <div class="card-body">
            <h6 class="card-title">Статус: {{ task.status.title }}</h6>
            <h6 class="card-title">Тип: {% for type in task.type.all %} {{ type }}{% if not forloop.last %},{% endif %}{% endfor %}</h6>
            <p class="card-text" style="white-space: pre-wrap">{{ task.description }}</p>
        </div>
        <div class="card-footer text-muted">
            {%  if request.user.is_authenticated %}
            <a href="{% url 'webapp:task_edit' task.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'webapp:task_delete' task.pk %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
{% endblock %}