{% extends "base.html" %}

{% block nav %}
{#    {% if perms.webapp.create_project and request.user in project.users.all %}#}
    {%  if request.user.is_authenticated %}
        {% if perms.webapp.add_project %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:project_add' %}">Create Project ( + )</a>
            </li>
        {% endif %}
    {% endif %}
    {% if perms.accounts.can_view_all_users or request.user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:users_list' %}">All users</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'partial/project_list_partial.html' %}
{% endblock %}