{% extends 'base.html' %}
{% block nav %}
    <li class="nav-item">
          <a class="btn btn-success" aria-current="page" href="{% url 'task_add' %}">Add Task</a>
        </li>
    <li class="nav-item">
          <a class="btn btn-primary" aria-current="page" href="{% url 'task_edit' task.pk %}">Edit Task</a>
        </li>
    <li class="nav-item">
          <a class="btn btn-danger" aria-current="page" href="{% url 'task_delete' task.pk %}">Delete Task</a>
        </li>
{% endblock %}
{% block content %}
    <div class="card text-center">
          <h5 class="card-header">
            Задание: {{ task.summary }}
          </h5>
          <div class="card-body">
            <p class="card-text" style="white-space: pre-wrap">Описание: {{ task.description }} </p>
            <p class="card-text" style="white-space: pre-wrap">Статус: {{ task.status }} </p>
            <p class="card-text" style="white-space: pre-wrap">Тип: {{ task.type }} </p>
{#            <a href="#" class="btn btn-primary">Go somewhere</a>#}
          </div>
          <div class="card-footer text-muted">
            Последнее обновления: {{ task.updated_at|date:"d F Y"|default:'-' }}
          </div>
    </div>
{% endblock %}
